<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="timerController as timer">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Timer</h1>
      </ion-header-bar>
      <ion-content style="background-color: gray">
        <h3>Hoursssss</h3>
        <input type="number" min="0" max="24" ng-model="time.hours">
        <h3>Minutes</h3>
        <input type="number" min="0" max="60" ng-model="time.minutes">
        <h3>Seconds</h3>
        <input type="number" min="0" max="60" ng-model="time.seconds">

        <button class="button button-stable" ng-click="timerStart()">START</button>
        <button class="button button-stable">STOP</button>
        <div>
          <p>{{countdown.hours}}</p>
          <p>{{countdown.minutes}}</p>
          <p>{{countdown.seconds}}</p>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
